/coplime/coplime-ejb/build/
/coplime/coplime-ejb/dist/
/coplime/build/
/coplime_client_web/build/
/coplime_client_web/dist/
/coplime/coplime-ejb/nbproject/private/
/coplime/coplime-ejb/nbproject/
/coplime_client_web/nbproject/
/coplime_client_web/nbproject/private/
/coplime/nbproject/
*.class
# Package Files #
*.jar
*.war
*.ear
*.properties
*.xml

/coplime/dist/