<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     <error-page>
        <error-code>403</error-code>
        <location>/faces/errors/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/errors/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/errors/500.xhtml</location>
    </error-page>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LclhuQSAAAAALjYo6rOzAxzQvLo3R8SzNKIHoFC</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LclhuQSAAAAAPCj9sO-3xbeRODZivW0BEjCtvGp</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>admin_pages</display-name>
        <web-resource-collection>
            <web-resource-name>Páginas administrativas</web-resource-name>
            <description>Relacionadas con poblado inicial de la aplicación</description>
            <url-pattern>/faces/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>users_pages</display-name>
        <web-resource-collection>
            <web-resource-name>usuarios</web-resource-name>
            <description/>
            <url-pattern>/faces/users/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrador</role-name>
            <role-name>Inspector</role-name>
            <role-name>Operario</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>inspector_pages</display-name>
        <web-resource-collection>
            <web-resource-name>Sólo inspector</web-resource-name>
            <description/>
            <url-pattern>/faces/users/inspector/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Inspector</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>operario_pages</display-name>
        <web-resource-collection>
            <web-resource-name>Sólo operario de mantención</web-resource-name>
            <description/>
            <url-pattern>/faces/users/operario/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Operario</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/index.xhtml</form-login-page>
            <form-error-page>/faces/pobladoInicial.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Administrador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Inspector</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Operario</role-name>
    </security-role>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
</web-app>
